<ul id="logo-list">
  <li>
    <h1><%= image_tag("MSLogo.jpg", id: "logo") %></h1>
  </li>
  <hr/>
  <li>
    <h4>STORE HOURS</h4>
    <hr/>
    <ul>
      <li>Monday - Thursday: 12 - 7</li>
      <li>Friday: 10 - 8</li>
      <li> Saturday: 8am - 5 </li>
    </ul>
  </li>
</ul>