<div class="panel owl-carousel owl-theme" id='owl-carousel'>
  <div class="item"><%= image_tag('dollar.jpg')%></div>
  <div class="item"> Your Content </div>
  <div class="item"> Your Content </div>
  <div class="item"> Your Content </div>
  <div class="item"> Your Content </div>
  <div class="item"> Your Content </div>
  <div class="item"> Your Content </div>
</div>