<div class="row ">
  <div class="large-3 columns ">
    <%= render 'welcome/logo'%>
  </div>
  <div>
    <%= render 'welcome/info_tabs'%>
  </div>
</div>
<!-- SLIDER  -->
<div class="row">
  <div class="large-12 columns">
    <hr/>
  </div>
</div>