<div class="row ">
  <div class="large-3 columns ">
    <h1>
      <%= image_tag("MSLogo.jpg", id: "logo") %>
    </h1>
  </div>
  <ul class="tabs large-9 columns" data-tab role="tablist">
    <li class="tab-title active" role="presentational"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Store Hours</a></li>
    <li class="tab-title" role="presentational"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2">Map</a></li>
    <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Contact</a></li>
    <li class="tab-title" role="presentational"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4">About</a></li>
    <div>
      <div class="tabs-content large-9 columns">
        <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
          <h2>First panel content goes here...</h2>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
          <h2>Second panel content goes here...</h2>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
          <h2>Third panel content goes here...</h2>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
          <h2>Fourth panel content goes here...</h2>
        </section>
      </div>
    </div>
  </ul>
</div>
<!-- SLIDER  -->
<div class="row">
  <div class="large-12 columns">
    <%= render 'welcome/owl_carousel'%>
    <hr/>
  </div>
</div>