<div class="top columns">
  <div class="inner">
    <div class="left quarter company">
      <h1>MainStreet <br>
        Comics</h1>
    </div>
    <div class="left quarter">
      <h4>STORE HOURS</h4>
      <table>
        <tr>
          Monday - Friday
        </tr>
        <td>
          12pm - 7pm
        </td>
      </table>
    </div>
    <div class="left quarter">
      <h4>Contact Us</h4>
      <ul>
      </ul>
    </div>
    <div class="left quarter">
      <h4>SECTION 3</h4>
      <ul>
      </ul>
    </div>
  </div>
</div>